{%- if breadcrumbs.count %}
    {% set translate = true %}
    <ol class="breadcrumb" id="breadcrumbtrail">
        {% for breadcrumb in breadcrumbs %}
            {% set class = (loop.first ? 'home' : (loop.last ? 'current' : '')) %}
            <li {% for attr,value in breadcrumb.attributes -%}
            {%- if attr == 'class' %}{% set value = value ~ ' ' ~ class %}{% endif -%}
            {%- if attr == 'translate' %}{% set translate = value %}{% endif -%}
            {{ attr }}="{{ value }}"
        {%- endfor %}
            {% if breadcrumb.attributes.class is not defined %} class="{{ class }}"{% endif %}>
            {%- if breadcrumb.url is null or loop.last -%}
                {% if translate == true %}
                    {{ breadcrumb.title|trans }}
                {% else %}
                    {{ breadcrumb.title }}
                {% endif %}
            {%- else -%}
                <a href="{{ breadcrumb.url }}">
                    {% if translate == true %}
                        {{ breadcrumb.title|trans }}
                    {% else %}
                        {{ breadcrumb.title }}
                    {% endif %}
                </a>
            {%- endif -%}
            </li>
        {% endfor %}
    </ol>
{%- endif -%}
